.container-fluid{
    text-align: center;
}
.card-body{
    padding-top: 20px;
    background: rgb(223, 219, 204);
}
.header{
    background: rgb(231, 229, 219);
}
.container{
    background: rgb(212, 211, 204);
}
.footer-text{
    background: rgb(219, 219, 212);
}